#conteudo{
    min-height: 46.25rem;
}

#lateral-esquerda{
    -webkit-box-shadow: 0 0 0.312rem #ccc;
    box-shadow: 0 0 0.312rem #ccc;
    border: 0.312rem solid #fff;
    background: #F2F2F2;
}

#lateral-direita{
    -webkit-box-shadow: 0 0 0.312rem #ccc;
    box-shadow: 0 0 0.312rem #ccc;
    border: 0.312rem solid #fff;
    background: #F2F2F2;
}

#menu ul li {
    font-size: 0.875rem;
    margin: 0; 
    padding: 0;
    border: 1px solid #E9E9E9;
}

#menu a:link, a:visited{
    background: #FFFFFF;
    color: #000000;
    padding: 0.312rem;
    display: block;
}

#menu a:hover {
    background: #2D4E98;
    color: #FFFFFF;
}

#map-canvas {
    width: 31.250rem;
    height: 25rem;
    background-color: #CCC;
}

.lateral .row{
    padding: 0.312rem 0 0 0;
}

.dados{
    font-size: 0.875rem;
}

.pesquisa{
    font-size: 0.938rem;
}

.art-emp{
    width: 16.937rem;
    height: 7.500rem;
}

.form-pesquisa{
    padding: 1.562rem 0.625rem 0 0.625rem;
}

.footer{
    min-height: 1.250rem;
    background-color: #022473;
    margin-top: 0.625rem;
    padding: 0.625rem 0 0 0;
}

.footer p{
    color: #d0d0d0;
    font-size: 0.875rem;
}